@model RiadosaOrg.Models.Shows

@{
	ViewBag.Title = "Shows";
}
@section Styles {
	<link href="@Url.Content("~/Content/Pages/Shows.css")" rel="stylesheet" type="text/css" />
}
<h2>Shows</h2>

<div class="showArea">

	@if (Model.Future.Any())
	{
		<h3>Upcoming</h3>
	}

	@foreach (var item in Model.Future)
	{
		<div class="show">
			@item.Date.ToString("dd MMMM yyyy") - <a target="_blank" href="@item.Url">@item.Venue</a> - @item.Location
			<div class="showInfo">@item.Info</div>
		</div>
	}
</div>

<div class="showArea">
	@if (Model.Future.Any())
	{
		<h3>Past</h3>
	}
	@foreach (var item in Model.Past)
	{
		<div class="show">
			@item.Date.ToString("dd MMMM yyyy") - <a target="_blank" href="@item.Url">@item.Venue</a> - @item.Location
			<div class="showInfo">@item.Info</div>
		</div>
	}
</div>

<div class="buffer"></div>

