@model List<Event>

@{
	ViewBag.Title = "Shows";
    var futureShows = Model.Where(x => x.Date > DateTime.Now.AddDays(-1)).OrderBy(x => x.Date);
    var pastShows = Model.Where(x => x.Date < DateTime.Now.AddDays(-1));
}
@section Styles {
	<link href="@Url.Content("~/Content/Pages/Shows.css")" rel="stylesheet" type="text/css" />
}
<style type="text/css">
   /*body {
      font-family: Arial;
      font-size: 10pt;
   }*/

   .Grid {
      border: 1px solid #ccc;
      border-collapse: collapse;
      background-color: #F7F7F7;

   }

   .Grid th {
      background-color: #F7F7F7;
      font-weight: bold;
   }

   .Grid th, .Grid td {
      padding: 5px;
      width: 150px;
      border: 1px solid #ccc;
   }

   .Grid, .Grid table td {
      border: 0px solid #ccc;
   }

		.Grid th a, .Grid th a:visited {
			color: #333;
		}
</style>
<div class="showsPage">
   <h1>Shows</h1>




   @{
      WebGrid webGrid = new WebGrid(source: Model, canPage: true, canSort: false);
   }
   @if ((System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
   {

      <div>
         <div>Add Show</div>
         <div>
            <span class="label">Venue</span>
            <input type="text" value="" class="venueAdd" />
         </div>
         <div>
            <span class="label">Time</span>
            <input type="text" value="" class="timeAdd" />
         </div>
         <div>
            <span class="label">Url</span>
            <input type="text" value="" class="urlAdd" />
         </div>
         <div>
            <span class="label">Info</span>
            <input type="text" value="" class="infoAdd" />
         </div>
         <div>
            <span class="label">Location</span>
            <input type="text" value="" class="locationAdd" />
         </div>
         <div>
            <span class="label">Date</span>
            <input type="text" value="" id="datepicker" class="dateAdd" />
         </div>
         <a class="create" href="javascript:;">Add</a>
      </div>


      @webGrid.GetHtml(
                   htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
                   columns: webGrid.Columns(
                   webGrid.Column(header: "Event Id", format: @<span class="label">@item.EventId</span>, style: "EventId"),
webGrid.Column(header: "Venue", format: @<span>
         <span class="label">@item.Venue</span>
         <input class="text" type="text" value="@item.Venue" style="display:none" />
      </span>, style: "Venue"),
webGrid.Column(header: "Date", format: @<span>
                              <span class="label">@item.Date</span>
                              <input class="text" type="text" value="@item.Date" style="display:none" />
                           </span>, style: "Date"),
     webGrid.Column(header: "Time", format: @<span>
                                       <span class="label">@item.Time</span>
                                       <input class="text" type="text" value="@item.Time" style="display:none" />
                                    </span>, style: "Time"),
             webGrid.Column(header: "Url", format: @<span>
                                                   <span class="label">@item.Url</span>
                                                   <input class="text" type="text" value="@item.Url" style="display:none" />
                                                </span>, style: "Url"),
                   webGrid.Column(header: "Info", format: @<span>
                                                               <span class="label">@item.Info</span>
                                                               <input class="text" type="text" value="@item.Info" style="display:none" />
                                                            </span>, style: "Info"),
                         webGrid.Column(header: "Location", format: @<span>
                                                                        <span class="label">@item.Location</span>
                                                                        <input class="text" type="text" value="@item.Location" style="display:none" />
                                                                     </span>, style: "Location"),
                            webGrid.Column(format:@<span class="link">
                                                                                 <a class="Edit" href="javascript:;">Edit</a>
                                                                                 <a class="Update" href="javascript:;" style="display:none">Update</a>
                                                                                 <a class="Delete" href="javascript:;" style="display:none">Delete</a>
                                                                                 <a class="Cancel" href="javascript:;" style="display:none">Cancel</a>
                                                                              </span>)))
   }
   <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
           integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
           crossorigin="anonymous"></script>
   <script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
   <script type="text/javascript">
      $("#datepicker").datepicker();
      //Edit event handler.
      $("body").on("click", "#WebGrid TBODY .Edit", function () {
         var row = $(this).closest("tr");
         $("td", row).each(function () {
            if ($(this).find(".text").length > 0) {
               $(this).find(".text").show();
               $(this).find(".label").hide();
            }
         });
         row.find(".Update").show();
         row.find(".Delete").show();
         row.find(".Cancel").show();
         $(this).hide();
      });

      //Update event handler.
      $("body").on("click", "#WebGrid TBODY .Update", function () {
         var row = $(this).closest("tr");
         $("td", row).each(function () {
            if ($(this).find(".text").length > 0) {
               var span = $(this).find(".label");
               var input = $(this).find(".text");
               span.html(input.val());
               span.show();
               input.hide();
            }
         });
         row.find(".Edit").show();
         row.find(".Cancel").hide();
         $(this).hide();

         var event = {};
         event.EventId = row.find(".EventId").find(".label").html();
         event.Venue = row.find(".Venue").find(".label").html();
         event.Date = row.find(".Date").find(".label").html();
         event.Time = row.find(".Time").find(".label").html();
         event.Url = row.find(".Url").find(".label").html();
         event.Info = row.find(".Info").find(".label").html();
         event.Location = row.find(".Location").find(".label").html();
         $.ajax({
            type: "POST",
            url: "Shows/UpdateEvent",
            data: JSON.stringify(event),
            contentType: "application/json; charset=utf-8"
         }).done(function () {
            alert("success");
            location.reload();
         })
            .fail(function (jqXHR, textStatus) {
               alert("Request failed: " + textStatus);
            });
      });

      //Delete event handler.
      $("body").on("click", "#WebGrid TBODY .Delete", function () {
         var row = $(this).closest("tr");
         $("td", row).each(function () {
            if ($(this).find(".text").length > 0) {
               var span = $(this).find(".label");
               var input = $(this).find(".text");
               span.html(input.val());
               span.show();
               input.hide();
            }
         });
         row.find(".Edit").show();
         row.find(".Cancel").hide();
         $(this).hide();

         var event = {};
         event.EventId = row.find(".EventId").find(".label").html();

         $.ajax({
            type: "POST",
            url: "Shows/DeleteEvent",
            data: JSON.stringify(event),
            contentType: "application/json; charset=utf-8",
         })
            .done(function () {
               alert("success");
               location.reload();
            })
            .fail(function (jqXHR, textStatus) {
               alert("Request failed: " + textStatus);
            });
      });

      //Add event handler.
      $("body").on("click", ".create", function () {

         var event = {};
         event.Venue = $(".venueAdd").val();
         event.Time = $(".timeAdd").val();
         event.Url = $(".urlAdd").val();
         event.Info = $(".infoAdd").val();
         event.Location = $(".locationAdd").val();
         event.Date = $(".dateAdd").val();
         $.ajax({
            type: "POST",
            url: "Shows/CreateEvent",
            data: JSON.stringify(event),
            contentType: "application/json; charset=utf-8",
         })
            .done(function () {
               alert("success");
               location.reload();
            })
            .fail(function (jqXHR, textStatus) {
               alert("Request failed: " + textStatus);
            });
      });

      //Cancel event handler.
      $("body").on("click", "#WebGrid TBODY .Cancel", function () {
         var row = $(this).closest("tr");
         $("td", row).each(function () {
            if ($(this).find(".text").length > 0) {
               var span = $(this).find(".label");
               var input = $(this).find(".text");
               input.val(span.html());
               span.show();
               input.hide();
            }
         });
         row.find(".Edit").show();
         row.find(".Update").hide();
         row.find(".Delete").hide();
         $(this).hide();
      });
   </script>



   <div class="showArea">

      @if (futureShows.Any())
      {
         <div class="sectionTitle"> <h2><img src="~/Content/img/606.gif" />Upcoming<img src="~/Content/img/606.gif" /></h2> </div>
      }

      @foreach (var item in futureShows)
      {
         <div class="show">
            @item.Date.ToString("MMMM dd dddd") - <a target="_blank" href="@item.Url">@item.Venue</a> - @item.Location
            <div class="showInfo">@item.Time</div>
            <div class="showInfo">@item.Info</div>
         </div>
      }
   </div>

   <div class="showArea">
      @if (futureShows.Any())
      {
         <h1>Past</h1>
      }
      @foreach (var item in pastShows)
      {
         <div class="show">
            @item.Date.ToString("MMM dd, yyyy") - <a target="_blank" href="@item.Url">@item.Venue</a> - @item.Location
            <div class="showInfo">@item.Info</div>
         </div>
      }
   </div>

   <div class="buffer"></div>

</div>