@model RiadosaOrg.Models.Shows

@{
	ViewBag.Title = "Shows";
}
@section Styles {
	<link href="@Url.Content("~/Content/Pages/Shows.css")" rel="stylesheet" type="text/css" />
}
	<div class="showsPage">
		<h1>Shows</h1>

		<div class="showArea">

			@if (Model.Future.Any())
			{
			<div class="sectionTitle"> <h2><img src="~/Content/img/606.gif" />Upcoming<img src="~/Content/img/606.gif" /></h2> </div>
			}

			@foreach (var item in Model.Future)
			{
			<div class="show">
				@item.Date.ToString("MMMM dd dddd") - <a target="_blank" href="@item.Url">@item.Venue</a> - @item.Location
				<div class="showInfo">@item.Time</div>
				<div class="showInfo">@item.Info</div>
			</div>
			}
		</div>

		<div class="showArea">
			@if (Model.Future.Any())
			{
				<h1>Past</h1>
			}
			@foreach (var item in Model.Past)
			{
				<div class="show">
					@item.Date.ToString("MMM dd, yyyy") - <a target="_blank" href="@item.Url">@item.Venue</a> - @item.Location
					<div class="showInfo">@item.Info</div>
				</div>
			}
		</div>

		<div class="buffer"></div>

	</div>